@charset "utf-8";

*{
  margin:0px;
  padding:0px;
}
ul, li, ol{
  list-style: none;
}
a{
  text-decoration: none;
}

.tab_wrap{
  width:1000px;
  height:500px;
  margin:0px auto;
  border:1px solid #333;
  display: flex;
}
.gallery{
  width:50%;
  position: relative;
  img{
    width:100%;
    height:500px;
    object-fit: cover;
  }
  li{
    position: absolute;
    display: none;
  }
}
.gallery > li.on{
  display:block;
}

.title{
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  li{
    height:100%;
    line-height: 125px;
    text-indent: 20px;
    font-size: 24px;
  }
  li:not(:last-child){border-bottom:1px solid #333;}
  li.on{
    color:#fff;
    background: #333;
  }
}